/* src/components/CoordinateLine.module.css */

.coordinateLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Fundo do bloco da coordenada - Cinza escuro */
  background-color: #2b2b2b; 
  border-radius: 6px; 
  padding: 12px 15px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.6); 
  /* cursor: default; */
}

.coordinateText {
  color: #dddddd; 
  font-family: monospace;
  font-size: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: 10px;
}

.copyButton {
  background: none;
  border: none;
  color: #fff; /* Ícone branco */
  cursor: pointer;
  padding: 0 5px;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;
}

.copyIcon {
  width: 100%;
  height: 100%;
  fill: #c0c0c0; /* Cor do ícone */
  transition: fill 0.1s;
}

.copyButton:hover {
    background-color: #444444; /* Pequeno destaque no hover */
    border-radius: 4px;
}


.copyIcon {
  width: 100%;
  height: 100%;
  fill: #aaaaaa; /* Cor do ícone um pouco mais cinza */
  transition: fill 0.1s;
}

.copyButton:hover .copyIcon {
  fill: #ffffff; /* Ícone fica branco no hover */
}